[Unit]
Description=Moolticute SSH key agent
Wants=network.target
After=network.target

[Service]
Type=simple
Environment="SSH_AUTH_SOCK=%t/moolticute-ssh-agent.socket"
ExecStartPre=mkdir -p %h/.local/share/mooltipass/mc-agent
ExecStart=%h/.local/bin/mc-agent --address=%h/.local/share/mooltipass/mc-agent/mc-agent.sock --no-fork

[Install]
WantedBy=default.target

