[submodule ".local/share/yadm-src"]
	path = .local/share/yadm-src
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule "/var/home/ananth/.local/share/toolbox-vscode"]
	path = .local/share/toolbox-vscode
	url = https://github.com/owtaylor/toolbox-vscode.git
