name: Continuous Integration
on:
  pull_request:
  push:
jobs:
  check-lock:
    name: Check Lock
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@main

  check-flake:
    name: Check Flake
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [check-lock]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty
      - name: Check Flake
        run: nix flake check --accept-flake-config
